.span-notice{
  text-transform:uppercase;
  font-size: 28px;
}

.notice{
  margin-bottom: 15px;
  padding: 30px;
  font-weight: bold;
}

.danger {
  color: #101010;
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  text-shadow: 2px 2px 5px #ffeeee;
}

.success {
  color: #101010;
  background-color: #ddffdd;
  border-left: 6px solid #4CAF50;
  text-shadow: 2px 2px 5px #eeffee;
}

.info {
  color: #101010;
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
  text-shadow: 2px 2px 5px #f7f3ff;
}


.warning {
  color: #101010;
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
  text-shadow: 2px 2px 5px #ffffdd;
}
